.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fdfdfd;
  padding: 15px 35px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.btn-dark {
  background-color: #212529;
  border-color: #212529;
  color: white;
}

.btn-dark:hover {
  background-color: #424649;
  border-color: #424649;
  color: white;
}

.btn-dark:focus,
.btn-dark:active {
  background-color: #131416;
  border-color: #131416;
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

.preprocess-section,
.editor-section {
  max-height: 50vh;
  overflow-y: auto;
  border: 1px solid #e9ecef;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
